<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
</head>
<body>
<div>
    <%=test%>
    id:<%=id%>
    name:<%=name%>
</div>

</body>
</html>